.modal-container {
    font-family: sans-serif;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0; top: 0; left: 0; bottom: 0;
    z-index: 5;
}

.modal_ {
    background-color: #E74C3C;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 517px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3)
}

.modal-header {
    padding: 25px 30px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #fff;
    margin: 0;
    font-size: 22px;
    font-weight: 400;

}

.modal-body {
    padding: 40px 42px 34px 42px;
}

.text {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 15px;
}

.modal-footer {
    padding: 0 0 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-closeModal {
    position: relative;
    width: 20px;
    height: 20px;
}

.btn-closeModal:before, .btn-closeModal:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #fff;
}
.btn-closeModal:before {
    transform: rotate(45deg);
}
.btn-closeModal:after {
    transform: rotate(-45deg);
}

.btn-cancel, .btn-ok {
    padding: 16px 41px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    background-color: rgba(0,0,0,0.2);
    outline: none;
}

.btn-cancel:hover, .btn-ok:hover {
    background-color: rgba(0,0,0,0.4);
}

.btn-ok {
    margin: 0 9px 0 0;
}

table {
    width: 100%;

}

td {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

td a {
    font-size: 30px;
}